html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* Color Variables */
  --black: #1a1a1a;
  --dark: #454955;
  --white: #f7f7f7;
  --light: #f3eff5;
  --accent: #a09abc;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  background-color: var(--white);
}
/* Fonts */
@font-face {
  font-family: "MoolBoran";
  src: url("../fonts/moolbor.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "Glacial Indifference";
  src: url("../fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-display: block;
}
@font-face {
  font-family: "Glacial Indifference";
  src: url("../fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold;
  font-display: block;
}
@font-face {
  font-family: "Glacial Indifference";
  src: url("../fonts/GlacialIndifference-Italic.otf") format("opentype");
  font-style: italic;
  font-display: block;
}
